@import "tailwindcss";
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-surface: #0D1F17;
  --color-primary: #1A3C2E;
  --color-accent: #F5A623;
  --color-light: #F2EDE4;
  --color-muted: #8A9E95;
}

:root {
  --color-primary: #1A3C2E;
  --color-accent: #F5A623;
  --color-surface: #0D1F17;
  --color-light: #F2EDE4;
  --color-muted: #8A9E95;
}



